<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/formularios.css" />
  <link rel="stylesheet" href="css/header-footer.css">
  <link rel="stylesheet" href="css/buttons.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script src="js/menu.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />​
  <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
  <script type="text/javascript" src="//acc.magixite.com/freeCode?oatk=2133516"></script>
  <script src="js/notify.js"></script>
  <script src="js/termo.js"></script>
</head>

<body>
  <% 
  let msgErro = {"fullName":"", "password":"",userName:""};
  let avisoErro = {"fullName":"", "password":"",userName:""};
  if(listaErros){
      listaErros.errors.forEach(function(itemErro){
          if(itemErro.path == "fullName"){
              avisoErro.fullName = "erro";
              msgErro.fullName += " "+itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo nome<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%
          }
          if(itemErro.path == "password"){
              avisoErro.password = "erro";
              msgErro.password = itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo senha<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%                
          }
          if(itemErro.path == "userName"){
              avisoErro.userName = "erro";
              msgErro.userName = itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo nome de usuário<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%
          }
          if(itemErro.path == "email"){
              avisoErro.email = "erro";
              msgErro.email = itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo e-mail<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%
          }
      })
  }
  if (dadosNotificacao) { %>
    <script>
            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
            if("<%= dadosNotificacao.tipo %>" == "success"){
                setTimeout(function(){window.location="/"}, 3007)
            }                        
    </script>
<% } %>

  <header>
    <span></span>
    <a href="/"><img src="image/logoAccex-azul.png" alt="Logo" /></a>
    <img src="image/iconePERFIL.png" id="usuario" alt="User" class="open-menu" />
    <nav class="menu-container">
      <ul>
        <li><a href="login">Entrar</a></li>
        <li><a href="cadastro">Cadastro</a></li>
        <li><a href="perfil">Perfil</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="cadastro">
      <h1>Faça o seu cadastro</h1>
      <form method="post" action="/cadastro">
        <label for="nome_usu">Seu nome completo:</label>
        <input type="text" id="fullName" name="fullName" value="<%= valores.fullName %>" class="<%= avisoErro.fullName %>" placeholder="nome"/> 
        <span> <%= msgErro.fullName %> </span>
        <label for="nomeusu_usu">Nome de Usuário:</label>
        <input type="text" id="userName" name="userName"value="<%= valores.userName %>" class="<%= avisoErro.userName %>" placeholder="nome de usuario"/>
        <span> <%= msgErro.userName %> </span>
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone"value="<%= valores.telefone %>" class="<%= avisoErro.telefone %>" placeholder="telefone"/>
        <span> <%= msgErro.telefone %> </span>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"value="<%= valores.email %>" class="<%= avisoErro.email %>" placeholder="email"/>
        <span> <%= msgErro.email %> </span>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password"value="<%= valores.password %>" class="<%= avisoErro.password %>" placeholder="Senha"/>
        <span> <%= msgErro.password %> </span>
        <input type="checkbox" name="termos" id="termos" onclick="mostratermo()" required>
        <label for="termos"> Li e concordo com os <a>termos requisitados</a></label>
        <div class="grup-bcad">
          <button type="submit" id="butca">Cadastrar</button>
        </div>
      </form>
      <div id="enter"><p class="message">Já é cadastrado? <a href="/login">Entre</a></p></div>

      <div vw class="enabled">

        <div vw-access-button class="active"></div>
    
        <div vw-plugin-wrapper>
    
          <div class="vw-plugin-top-wrapper"></div>
    
        </div>
    
      </div>
    
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    
      <script>
    
    new window.VLibras.Widget('https://vlibras.gov.br/app');
    
      </script>
</section>

<section id="termo" style="display:none">
  <h2>TERMOS DE USO —  Accex</h2>
  
    <p>Accex, pessoa jurídica de direito privado descreve, através deste documento, as regras de uso do site e qualquer outro site, loja ou aplicativo operado pelo proprietário.</p> 

    <br><br>Ao navegar neste website, consideramos que você está de acordo com os Termos de Uso abaixo. 

    <br><br>Caso você não esteja de acordo com as condições deste contrato, pedimos que não faça mais uso deste website, muito menos cadastre-se ou envie os seus dados pessoais. 

    <br><br>Se modificarmos nossos Termos de Uso, publicaremos o novo texto neste website, com a data de revisão atualizada. Podemos alterar este documento a qualquer momento. Caso haja alteração significativa nos termos deste contrato, podemos informá-lo por meio das informações de contato que tivermos em nosso banco de dados ou por meio de notificações. 

    <br><br>A utilização deste website após as alterações significa que você aceitou os Termos de Uso revisados. Caso, após a leitura da versão revisada, você não esteja de acordo com seus termos, favor encerrar o seu acesso. 

    <br><br>Seção 1 - Usuário 

      

    <br><br>A utilização deste website atribui de forma automática a condição de Usuário e implica a plena aceitação de todas as diretrizes e condições incluídas nestes Termos. 

    <br><br>Seção 2 - Adesão em conjunto com a Política de Privacidade 

      

    <br><br>A utilização deste website acarreta a adesão aos presentes Termos de Uso e a versão mais atualizada da Política de Privacidade de Accex. 

    <br><br>Seção 3 - Condições de acesso 

      

    <br><br>Em geral, o acesso ao website da Accex possui caráter gratuito e não exige prévia inscrição ou registro. 
    <br><br>Contudo, para usufruir de algumas funcionalidades, o usuário poderá precisar efetuar um cadastro, criando uma conta de usuário com login e senha próprios para acesso. 
    <br><br>É de total responsabilidade do usuário fornecer apenas informações corretas, autênticas, válidas, completas e atualizadas, bem como não divulgar o seu login e senha para terceiros. 
    <br><br>Partes deste website oferecem ao usuário a opção de publicar comentários em determinadas áreas. Accex não consente com a publicação de conteúdos que tenham natureza discriminatória, ofensiva ou ilícita, ou ainda infrinjam direitos de autor ou quaisquer outros direitos de terceiros. 
    <br><br>A publicação de quaisquer conteúdos pelo usuário deste website, incluindo mensagens e comentários, implica em licença não-exclusiva, irrevogável e irretratável, para sua utilização, reprodução e publicação pela Accex no seu website, plataformas e aplicações de internet, ou ainda em outras plataformas, sem qualquer restrição ou limitação. 



    <br><br>Seção 4 - Cookies 



    <br><br>Informações sobre o seu uso neste website podem ser coletadas a partir de cookies. Cookies são informações armazenadas diretamente no computador que você está utilizando. Os cookies permitem a coleta de informações tais como o tipo de navegador, o tempo despendido no website, as páginas visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós e nossos prestadores de serviços utilizamos informações para proteção de segurança, para facilitar a navegação, exibir informações de modo mais eficiente, e personalizar sua experiência ao utilizar este website, assim como para rastreamento online. Também coletamos informações estatísticas sobre o uso do website para aprimoramento contínuo do nosso design e funcionalidade, para entender como o website é utilizado e para auxiliá-lo a solucionar questões relevantes. 
    <br><br>Caso não deseje que suas informações sejam coletadas por meio de cookies, há um procedimento simples na maior parte dos navegadores que permite que os cookies sejam automaticamente rejeitados, ou oferece a opção de aceitar ou rejeitar a transferência de um cookie (ou cookies) específico(s) de um site determinado para o seu computador. Entretanto, isso pode gerar inconvenientes no uso do website. 
    <br><br>As definições que escolher podem afetar a sua experiência de navegação e o funcionamento que exige a utilização de cookies. Neste sentido, rejeitamos qualquer responsabilidade pelas consequências resultantes do funcionamento limitado deste website provocado pela desativação de cookies no seu dispositivo (incapacidade de definir ou ler um cookie). 

    <br><br>Seção 5 - Propriedade Intelectual 



    <br><br>Todos os elementos de Accex são de propriedade intelectual da mesma ou de seus licenciados. Estes Termos ou a utilização do website não concede a você qualquer licença ou direito de uso dos direitos de propriedade intelectual da Accex ou de terceiros. 

    <br><br>Seção 6 - Links para sites de terceiros 

      

    <br><br>Este website poderá, de tempos a tempos, conter links de hipertexto que redirecionará você para sites das redes dos nossos parceiros, anunciantes, fornecedores etc. Se você clicar em um desses links para qualquer um desses sites, lembre-se que cada site possui as suas próprias práticas de privacidade e que não somos responsáveis por essas políticas. Consulte as referidas políticas antes de enviar quaisquer Dados Pessoais para esses sites. 
    <br><br>Não nos responsabilizamos pelas políticas e práticas de coleta, uso e divulgação (incluindo práticas de proteção de dados) de outras organizações, tais como Facebook, Apple, Google, Microsoft, ou de qualquer outro desenvolvedor de software ou provedor de aplicativo, loja de mídia social, sistema operacional, prestador de serviços de internet sem fio ou fabricante de dispositivos, incluindo todos os Dados Pessoais que divulgar para outras organizações por meio dos aplicativos, relacionadas a tais aplicativos, ou publicadas em nossas páginas em mídias sociais. Nós recomendamos que você se informe sobre a política de privacidade e termos de uso de cada site visitado ou de cada prestador de serviço utilizado. 

    <br><br>Seção 7 - Prazos e alterações 

      

    <br><br>O funcionamento deste website se dá por prazo indeterminado. 
    <br><br>O website no todo ou em cada uma das suas seções, pode ser encerrado, suspenso ou interrompido unilateralmente por Accex, a qualquer momento e sem necessidade de prévio aviso. 

    <br><br>Seção 8 - Dados pessoais 

      

    <br><br>Durante a utilização deste website, certos dados pessoais serão coletados e tratados por Accex e/ou pelos Parceiros. As regras relacionadas ao tratamento de dados pessoais de Accex estão estipuladas na Política de Privacidade. 

    <br><br>Seção 9 - Contato 

      

    <br><br>Caso você tenha qualquer dúvida sobre os Termos de Uso, por favor, entre em contato pelo e-mail accexcontato@gmail.com


    <br><br><div class="grup-bcad">
      <button onclick="escondetermo()" id="butcad">Aceitar termos</button>
    </div>
    
</section>


  </main>


  <footer>
    <a href="faleConosco">Fale conosco</a>
    <div class="rodape-info">
      <img src="image/logoAccex-branca.png" alt="" id="logo">
      <p>E-mail <br /> accex@gmail.com</p>
      <div class="socialMedia">
        <div><img src="image/logoFaceb.png" alt="Ícone Facebook" /></div>
        <div>
          <img src="image/logoInstag.png" alt="Ícone Instagram" />
        </div>
        <div>
          <img src="image/logoX.png" alt="Ícone X" />
        </div>
      </div>
    </div>
  </footer>
  <script>
    $("#CNPJ").mask("99.999.999/9999-99");
    $("#telefone").mask("(99) 99999-9999")
    $("#CEP").mask("99999-999")
    $("#CPF").mask("999.999.999-99")
    $("#data").mask("99/99/9999")
    $("#card").mask("9999 9999 9999 9999")
    $("#cvv").mask("999")
  </script>
</body>

</html>