<!DOCTYPE html>
<html lang="pt-">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/formularios.css" />
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="js/menu.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />​
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script type="text/javascript" src="//acc.magixite.com/freeCode?oatk=2133516" />
    <script src="js/notify.js"></script>
  </head>
  <body>
    <header>
      <span></span>
      <a href="/"><img src="image/logoAccex-azul.png" alt="Logo" /></a>
      <!-- <img src="image/iconePERFIL.png" id="usuario" alt="User" class="open-menu"/>
      <nav class="menu-container">
        <ul>
          <li><a href="index">Entrar</a></li>
          <li><a href="cadastro ">Cadastro</a></li>
          <li><a href="perfil">Perfil</a></li>
        </ul>
      </nav> -->
    </header>
<main>
  <% 
  let msgErro = {"email":"", "password":"",};
  let avisoErro = {"email":"", "password":"",};
  if(listaErros){
      listaErros.errors.forEach(function(itemErro){
          if(itemErro.path == "email"){
              avisoErro.email = "erro";
              msgErro.email += " "+itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo nome<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%
          }
          if(itemErro.path == "password"){
              avisoErro.password = "erro";
              msgErro.password = itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo senha<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%                
          }
        })  
  } %>     

  <%
      let avisoErro = {"email":"", "senha":""};
      let msgErro = {"email":"", "senha":""};
           if(listaErros){
              listaErros.errors.forEach(function(itemErro){
                   if(itemErro.path == "email"){
                        avisoErro.email = "erro";
                        msgErro.email = itemErro.msg;
                    }
                    if(itemErro.path == "senha"){
                        avisoErro.senhalog = "erro";
                        msgErro.senhalog = itemErro.msg;
                    }
                })
            }
   
   let avisoErro = {"email":"", "password":""}
   let msgErro = {"email":"", "password":""}
      if(listaErros){
        console.log(listaErros.errors);
          listaErros.errors.forEach(function(itemErro){
              if(itemErro.path == "email"){
                  avisoErro.email = "erro";
                  msgErro.email = itemErro.msg
              }
              if(itemErro.path == "password"){
                  avisoErro.password = "erro";
                  msgErro.password = itemErro.msg
              }
          })
      }
  %>
    <h1>Faça o seu login</h1>
    <form method="post" action="/login">
      <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"value="<%= valores.email %>" class="<%= avisoErro.email %>"/>
        <span> <%= msgErro.email %> </span>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password"value="<%= valores.password %>" class="<%= avisoErro.password %>"/>
        <span> <%= msgErro.password %> </span>
        <span id="msgerror">
            <%= msgErro.password %>
        </span>
        <button>Entrar</button>
    </form>
    
    <div id="cadastre"><p class="message">Não tem conta? <a href="/cadastro">Cadastre-se</a></p></div>

    <div vw class="enabled">

      <div vw-access-button class="active"></div>
  
      <div vw-plugin-wrapper>
  
        <div class="vw-plugin-top-wrapper"></div>
  
      </div>
  
    </div>
  
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  
    <script>
  
  new window.VLibras.Widget('https://vlibras.gov.br/app');
  
    </script>

</main>
<footer>
  <a href="faleConosco">Fale conosco</a>   
  <div class="rodape-info">
    <img src="image/logoAccex-anca.png" alt="" id="logo">
    <p>E-mail</> accex@gmail.com</p>
    <div class="socialMedia">
      <div><img src="image/logoFaceb.png" alt="Ícone Facebook" /></div><div>
        <img src="image/logoInstag.png" alt="Ícone Instagram"/>
      </div><div>
        <img src="image/logoX.png" alt="Ícone X"/>
      </div></div>
  </div>
</footer>
    </body>
  </html>