<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel ADM</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/caixasLocais.css">
    <link rel="stylesheet" href="css/slider.css" />
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="js/menu.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />​
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script type="text/javascript" src="//acc.magixite.com/freeCode?oatk=2133516"></script>
    <script src="js/notify.js"></script>
      <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/caixasLocais.css">
    <link rel="stylesheet" href="css/slider.css" />
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="js/menu.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />​
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script type="text/javascript" src="//acc.magixite.com/freeCode?oatk=2133516"></script>
    <script src="js/notify.js"></script>
</head>

<body>
    



<main>

    <% 

    let arquivo = {"imagem":"imagens/img-perfil.png"}
 
    if(valores.img_perfil_pasta != null){
        arquivo.imagem = valores.img_perfil_pasta
    }

let msgErro = {"nome":"", "email":"" }
let avisoErro = {"nome":"", "email":""}
if(listaErros){
    listaErros.errors.forEach(function(itemErro){
        if(itemErro.path == "nome"){
            avisoErro.nome = "erro";
            msgErro.nome += " "+itemErro.msg
        %>
        <script>
            notify("Erro no preenchimento","Verifique o campo nome<br><%= itemErro.msg%>", "error", "center")                        
        </script>
        <%
    }
    if(itemErro.path == "email"){
        avisoErro.email = "erro";
        msgErro.email = itemErro.msg
        %>
        <script>
            notify("Erro no preenchimento","Verifique o campo e-mail", "error", "center")                        
        </script>
        <%
    }
    })
}

if (dadosNotificacao) { 

    %>
    <script>
            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
            
            if("<%= dadosNotificacao.tipo %>" == "success"){
                setTimeout(function(){
                    window.location="/"
                }, 3000)
            }                        
    </script>
<% } %>

<header>
    <span></span>
    <a href="/"><img src="image/logoAccex-azul.png" alt="Logo" /></a>
    <img src="image/iconePERFIL.png" id="usuario" alt="User" class="open-menu"/>
    <nav class="menu-container">
      <ul>
        <li><a href="login">Entrar</a></li>
        <li><a href="cadastro ">Cadastro</a></li>
        <li><a href="perfil">Perfil</a></li>
      </ul>
    </nav>
  </header>

<h1>Painel Administrativo</h1> 
<label for="editSlides" id="label-edSl">Editar Slides</label>

<section class="usuarios">
    <table>
        <thead>
            <tr>
                <th><span class="material-symbols-outlined">badge</span>Nome</th>
                <th><span class="material-symbols-outlined">supervised_user_circle</span>Tipo</th>
                <th><span class="material-symbols-outlined">progress_activity</span>Status usuário</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(function(usuario, index) { %>
                <tr>
                    <td>
                        <span class="material-symbols-outlined" title="Reativar Usuário" onclick="abrirPopUpR(<%= usuario.idusuario %>)" id="reatv-user">check_circle</span>
                        <img src="<%= usuario.img_perfil ? usuario.img_perfil : 'imagens/img-perfil.png' %>" alt="Imagem <%= index + 1 %> <%= nome_completo %>">
                        <span class="material-symbols-outlined" onclick="abrirPopUp(<%= usuario.idusuario %>)" title="Desativar Usuário">delete</span>
                        <span class="material-symbols-outlined" title="Editar Usuário">edit</span>
                        
                    </td>
                    <td>
                        <% if (usuario.tipo_usuario === 1) { %>
                            Comum
                        <% } else if (usuario.tipo_usuario === 2) { %>
                            Administrador
                        <% } else if (usuario.tipo_usuario === 3) { %>
                            Administrador Tipo 2
                        <% } %>
                    </td>
                    <td><%= usuario.status_usuario %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<br>

<div class="pop-up">
<div class="modal">
    <hr />
        <h2>Você tem certeza que deseja continuar?</h2>
        <span>Ao continuar o usuario selecionado será desativado!</span>
    <hr />
    <div class="btns">
        <button class="btn-sim" onclick="desativarUsuario()">Sim</button>
        <button class="btn-nao" onclick="closePopUp()">Não</button>
    </div>
</div>
</div>

<div class="pop-up" id="reactivate-popup">
<div class="modal">
    <hr />
        <h2>Você tem certeza que deseja continuar?</h2>
        <span>Ao continuar o usuario selecionado será reativado!</span>
    <hr />
    <div class="btns">
        <button class="btn-sim" onclick="reativarUsuario()">Sim</button>
        <button class="btn-nao" onclick="closePopUpR()">Não</button>
    </div>
</div>
</div>

<script>
function abrirPopUp(id) {
const modal = document.querySelector(".pop-up");

modal.setAttribute('data-usuario-id', id);
modal.classList.add('active');
}

function abrirPopUpR(id) {
const modal = document.querySelector("#reactivate-popup");

modal.setAttribute('data-usuario-id', id);
modal.classList.add('active');
}

function closePopUpR() {
  document.querySelector("#reactivate-popup").removeAttribute("data-usuario-id");
  document.querySelector("#reactivate-popup").classList.remove("active");
}

// Função para fechar o pop-up de confirmação
function closePopUp() {
  document.querySelector(".pop-up").removeAttribute("data-usuario-id");
  document.querySelector(".pop-up").classList.remove("active");
}

// Função para desativar o usuário
async function desativarUsuario() {
  const modal = document.querySelector(".pop-up");
  const userIdToDelete = modal.getAttribute("data-usuario-id");

  if (userIdToDelete) {
    try {
      const response = await fetch(`/desativar-usuario/${userIdToDelete}`, {
        method: "POST",
      });

      if (response.ok) {
        // O usuário foi desativado com sucesso, você pode atualizar a tabela ou fazer ações apropriadas
      } else {
        console.error("Erro ao desativar o usuário:", response.statusText);
        console.log("Erro ao desativar o usuário:", error);
      }
    } catch (error) {
      console.error("Erro ao desativar o usuário:", error);
      console.log("Erro ao desativar o usuário:", error);
    }

    closePopUp();
    location.reload();
  }
}

// Reativar Usuário

async function reativarUsuario() {
  const modal = document.querySelector("#reactivate-popup");
  const userIdToReactivate = modal.getAttribute("data-usuario-id");

  if (userIdToReactivate) {
    try {
      const response = await fetch(`/reativar-usuario/${userIdToReactivate}`, {
        method: "POST",
      });

      if (response.ok) {
        // O usuário foi desativado com sucesso, você pode atualizar a tabela ou fazer ações apropriadas
      } else {
        console.error("Erro ao reativar o usuário:", response.statusText);
        console.log("Erro ao reativar o usuário:", error);
      }
    } catch (error) {
      console.error("Erro ao reativar o usuário:", error);
      console.log("Erro ao reativar o usuário:", error);
    }


    closePopUpR();
    location.reload();
  }
}
</script>



</main>

<footer>
    <a href="faleConosco">Fale conosco</a>
    <div class="rodape-info">
      <img src="image/logoAccex-branca.png" alt="" id="logo">
      <p>E-mail <br/> accex@gmail.com</p>
      <div class="socialMedia">
        <div><img src="image/logoFaceb.png" alt="Ícone Facebook" /></div><div>
          <img src="image/logoInstag.png" alt="Ícone Instagram"/>
        </div><div>
          <img src="image/logoX.png" alt="Ícone X"/>
        </div></div>
    </div>
  </footer>
</body>
</html>